<%- include('templates/encabezado')%>
<link rel="stylesheet" href="/static/css/404Error.css" type="text/css"/>
<br />

<div class="container">
    <div class="row">
        <div id="imagen">
            <img src="/static/img/png/Error1.png" >
            <br />
            <h2>Opps!.... Página no encontrada</h2>
            <p id="mensaje">Lo sentimos, no pudimos encontrar tu página. Si crees que hay un error con tu cuenta comunicate con un administrador o revisa tu conexión de internet.</p>
            <br />
            <a href="/" type="button" class="button"><p>Regresar</p></a>
        </div>
    </div>
</div>
<br />
