
<link rel="stylesheet" href="/static/css/navbar1.css" type="text/css"/>
<footer>
    <a href="https://www.facebook.com/profile.php?id=100063793185637"><img src="/static/img/icons/facebookColor.png"></a>
    <a href=""><img src="/static/img/icons/InstagramColor.png"></a>
    <a href="https://api.whatsapp.com/send?phone=4271048896&text=Hola, necesito más información!"><img src="/static/img/icons/WhatsappColor.png"></a>
    <a href=""><img src="/static/img/icons/gmail.png"></a>
  </footer>
</body>
</html>